body {
  overflow-x: hidden;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#d3dee4), to(#2196F3));
  background-image: linear-gradient(to right, #d3dee4, #2196F3);
  background-repeat: no-repeat;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a9df), to(#0c6791));
  background-image: linear-gradient(#a3a9df, #0c6791);
  border-radius: 20px;
  margin: 17px;
}

.dropdown-menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#d3dee4), to(#2196F3));
  background-image: linear-gradient(to right, #d3dee4, #2196F3);
}

#web-name {
  color: #83430f;
  text-align: center;
  font-size: larger;
  font-family: cursive;
  font-weight: bolder;
}

.bg-primary {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.card0 {
  width: 94%;
  border-radius: 20px;
}

.card1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#81D4FA));
  background-image: linear-gradient(#2196F3, #81D4FA);
  padding: 30px 20px 30px 50px;
  border-radius: 20px;
}

#button-temp {
  margin-top: 1em;
  width: 4em;
  height: 4em;
}

.image {
  width: 300px;
  height: 300px;
}

.large-font {
  font-size: 70px;
  font-family: Arial;
}

.fa-sun-o {
  font-size: 22px;
}

#main-img {
  border-radius: 20px;
  width: 100%;
}

.card2 {
  background-color: #607D8B;
  padding: 0px 0px 40px 40px;
  border-radius: 20px;
}

.pop {
  height: 20px;
}

#carousel-example-2 {
  border-radius: 20px;
}

input {
  background-color: #607D8B;
  padding: 24px 0px 12px 0px !important;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none !important;
  border-bottom: 1px solid #CFD8DC !important;
  font-size: 16px !important;
  color: #fff !important;
}

input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #fff !important;
  outline-width: 0;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #B0BEC5 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #B0BEC5 !important;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #B0BEC5 !important;
  opacity: 1;
}

::placeholder {
  color: #B0BEC5 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #B0BEC5 !important;
}

::-ms-input-placeholder {
  color: #B0BEC5 !important;
}

.fa-search {
  color: #607D8B;
  background-color: #1c6e94;
  font-size: 20px;
  width: 20%;
  cursor: pointer;
}

.search {
  width: 56px;
  height: 100%;
}

.light-text {
  color: #B0BEC5;
}

.suggestion:hover {
  color: #fff;
  cursor: pointer;
}

.line {
  height: 1px;
  background-color: #B0BEC5;
}

.view {
  opacity: 0.5;
}

#carousel-example-2 {
  border-radius: 20px;
}

#columnchart_material {
  width: 100%;
  height: 500px;
  margin: 40px,40px,40px,40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#81D4FA));
  background-image: linear-gradient(#2196F3, #81D4FA);
  border-radius: 20px;
}

.compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-compare {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a9df), to(#0c6791));
  background-image: linear-gradient(#a3a9df, #0c6791);
  position: relative;
  left: 45%;
  border-radius: 10px;
}

.page-footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#81D4FA));
  background-image: linear-gradient(#2196F3, #81D4FA);
  padding: 30px  30px;
  margin-top: 20px;
  color: red;
  text-align: center;
  border-radius: 20px;
}

p.tag {
  color: #63081c;
}

.ml-auto {
  color: #a5097e;
}

.col-12 {
  border-radius: 20px;
  text-align: center;
}

#aboutUs {
  background-image: -webkit-gradient(linear, left top, right top, from(#2196F3), to(#d3dee4));
  background-image: linear-gradient(to right, #2196F3, #d3dee4);
  border-radius: 20px;
  color: #440c8d;
}

#info-p {
  -webkit-column-count: 3;
          column-count: 3;
}

div.card {
  width: 18rem;
  height: 23rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-img-top {
  height: 200px;
  padding: 30px 20px 20px 20px;
  border-radius: 50%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  -ms-grid-column-align: center;
      justify-self: center;
}

.button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a9df), to(#0c6791));
  background-image: linear-gradient(#a3a9df, #0c6791);
  position: relative;
  border-radius: 10px;
}

.slider {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2196F3), to(#83bad8));
  background-image: linear-gradient(to right, #2196F3, #83bad8);
  width: 90%;
}

@media screen and (max-width: 500px) {
  .card1 {
    padding-left: 26px;
  }
  #info-p {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
/*# sourceMappingURL=style.css.map */